[user]
	name = James McCoy
	email = jamessan@jamessan.com
	signingkey = DFE691AE331BA3DB
[color]
	branch = auto
	status = auto
	diff = auto
[merge]
	tool = vim3way
[merge "dpkg-mergechangelogs"]
	name = debchangelog merge driver
	driver = dpkg-mergechangelogs -m %O %A %B %A
[mergetool "vim3way"]
	cmd = "vim -c 'call mergeutil#threeway()' \"$BASE\" \"$REMOTE\" \"$LOCAL\" \"$MERGED\""
	trustExitCode = true
[alias]
	wdiff = diff --color-words
[remote-hg]
	hg-git-compat = true
[url "ssh://git.jamessan.com/git"]
	pushInsteadOf = https://git.jamessan.com/cgit
	pushInsteadOf = git://git.jamessan.com
[url "git@salsa.debian.org:"]
	insteadOf = salsa:
	pushInsteadOf = https://salsa.debian.org/
[url "git@github.com:"]
	insteadOf = gh:
	pushInsteadOf = https://github.com/
[push]
	default = current
[fetch]
	prune = true
[diff]
	mnemonicprefix = true
	colorMoved = dimmed-zebra
	colorMovedWS = allow-indentation-change
[include]
	path = ~/.config/git/private
[includeIf "gitdir:~/src/debian.org/"]
	path = ~/.config/git/debian.org
[credential]
	helper = cache
[init]
	templatedir = ~/.config/git/templates
[log]
	mailmap = true
	decorate = auto
[pull]
	ff = only
[feature]
	manyFiles = true
