[user]
	name = James McCoy
	email = vega.james@gmail.com
	signingkey = DFE691AE331BA3DB
[color]
	branch = auto
	status = auto
	diff = auto
[merge]
	tool = vimdiff
[merge "debchangelog"]
	name = debchangelog merge driver
	driver = dpkg-mergechangelogs -m %O %A %B %A
[alias]
	wdiff = diff --color-words
[remote-hg]
	hg-git-compat = true
[url "ssh://git.jamessan.com/git"]
	pushInsteadOf = https://git.jamessan.com/cgit
	pushInsteadOf = git://git.jamessan.com
[push]
	default = simple
[fetch]
	prune = true
